node_modules
dist
.git
.gitignore
.DS_Store
npm-debug.log
yarn-error.log
.npm
.eslintcache
.node-gyp
.yarn-integrity
cdk.out
cdk.context.json
.pytest_cache
__pycache__
.venv
env
venv
.coverage
*.tfstate
.terraform
.cdktf.out
